$icomoon-font-path: "../fonts" !default;

$icon-details: "\e91b";
$icon-list: "\e928";
$icon-refresh: "\e927";
$icon-remove: "\e926";
$icon-eye: "\e925";
$icon-time: "\e924";
$icon-arrow-slide-right: "\e922";
$icon-arrow-slide-left: "\e923";
$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-cart: "\e904";
$icon-cat-elevatoru: "\e905";
$icon-cat-machine: "\e906";
$icon-cat-semena: "\e907";
$icon-cat-sredstva: "\e908";
$icon-cat-trayding: "\e909";
$icon-cat-udobren: "\e90a";
$icon-check: "\e90b";
$icon-close: "\e90c";
$icon-comm: "\e90d";
$icon-comments: "\e90e";
$icon-consult: "\e90f";
$icon-delivery: "\e910";
$icon-down: "\e911";
$icon-fb: "\e912";
$icon-garant: "\e913";
$icon-gp: "\e914";
$icon-heart: "\e915";
$icon-leafs: "\e916";
$icon-loc: "\e917";
$icon-mail: "\e918";
$icon-pencil: "\e919";
$icon-phone: "\e91a";
$icon-search: "\e91c";
$icon-tags: "\e91d";
$icon-truck: "\e91e";
$icon-user: "\e91f";
$icon-wallet: "\e920";
$icon-warranty: "\e921";

